*{
    margin : 0;
    padding: 0;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}


.btn{
    background: #0d6d62;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding-top: 50px;
        font-family: Orbitron, sans-serif;

}

.content h1{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 40px;
}


.content  .btn{
    cursor:pointer;
    display:inline-block;
    padding: 10px 30px;
    color:#fff;
    background-color:#28a745;
    border:none;
    border-radius:5px;
    text-decoration: none;

}



#overlay::before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.6);
  z-index:-1;
  }

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
#credit-list {
    height: 30em;
    margin-bottom: 1em;
    background-color: #333;
    padding:15px;
}
#credit-list ul{
    list-style:none;

}
#credit-list ul li{
    padding:3px;
    
}

 /*styling loading page*/
 .loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 45%;
}

.loader.hidden {
    display:none;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*Styling for help page*/
#help-body {
    width: 90%;
    margin: 0 auto;
    color: white;
}

#help-content {
    overflow: auto;
}

#feature {
    margin: 1%
}

.display,
.controls,
.objective {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.objective {
    margin-right: 0%;
}

#main-video {
    height: 10em;
    margin-bottom: 1em;
    background-color: #333;
    text-align: center;
}

.explanation-card {
    height: 22em;
    margin-bottom: 1em;
    background-color: #333;
    text-align: center;
}

#help-header {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;

}


#help-video {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.explanation-card h1 {
    font-size: medium;
}

.explanation-card img {
    width: 90%;
    max-height: 30%;
}

.explanation-card p,
.explanation-card ul {
    font-size: 0.75em;
    font-weight: 50;
    padding-left: 3em;
    text-align: left;

}

.explanation-card ul {
    list-style: none;
    text-align: left;
    margin-top: 3.5em;
}


.controls a {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;

}
